.contenedor{
    height: 350px;
    width: 230px;
}
#chess{
    width: 100px;
    height:160px;
}
.imagen{
    display: flex;
    justify-content: center;
    align-content: center;
}
.Calculo{
    display: flex;
    flex-direction: column;
}
.Calculo>input,p,button{
    padding: 10px;
}